In [39]:
print("hello") # syntax to print the string or any line or output

hello

#String Manuplations

In [40]:
name = input ("what is your name?")

In [41]:
name

'anil'

In [42]:
age = input("what is your age?")

In [43]:
age

'23'

In [44]:

f"My name is {name} and my age is {age}" # "f"- formatted string literal it is used for string manuplation in python

'My name is anil and my age is 23'

In [45]:
a= "My name is ANIL"

In [46]:
a.lower() # prints every word of the sentence in lower case

'my name is anil'

In [47]:
b = "this is python class"

In [48]:
b.upper() #  prints every word of the sentence in  upper case

'THIS IS PYTHON CLASS'

In [49]:
c = "this is my first program"

In [50]:
c.title() # captilise the starting letter of every word of the sentence

'This Is My First Program'

In [51]:
d = "this is example for capatilize the given string"

In [52]:
d.capitalize() # capatilise the starting letter of the given sentence

'This is example for capatilize the given string'

In [53]:
test = "Python is great language for learning machine learning and AI development"

In [54]:
'python'.capitalize() in test # used to check whether the word is present in the given text it returns boolen value

True

In [55]:
test.find("machine") #used to find the given word index

38

In [56]:
test[38] # indexing {index always starts with zero}

'm'

In [57]:
test.find('text') # if the word is not present it will give -1 as the output which indicates the word is not present

-1

In [58]:
len(test) # it returns the length of the sentence

73

In [59]:
a = "This is a gen Ai class"

In [60]:
a.startswith("This") # returns boolen value TRUE OR FALSE whether the sentence starts with the given query

True

In [61]:
a.endswith("class")

True

In [62]:
a.endswith("machine")

False

### String manuplation using Split functions

In [63]:
sentence = "Python is amazing for Ai.AI is the future"

In [64]:
sentence.split(".") # splits the sentence by using the condition

['Python is amazing for Ai', 'AI is the future']

In [65]:
sentence.split(" ")

['Python', 'is', 'amazing', 'for', 'Ai.AI', 'is', 'the', 'future']

In [66]:
text = ("AI","is","future","technolody")

In [67]:
d = " ".join(text) # used to join the text seperated by comma 
print(d)

AI is future technolody

In [68]:
h = "+".join(text) # joins wiht the + as cond and join the word in the sentence 
print(h)

AI+is+future+technolody

In [69]:
j = "\n\t".join(text) #t= tab creates a space ; n = prints the word in the next line 
print(j)

AI
	is
	future
	technolody

In [70]:
template = "Hello name,welcome to course"
template.replace("name","Anil") # Replace the old word to new word

'Hello Anil,welcome to course'

In [71]:
template.replace("course","Ai chatbot")

'Hello name,welcome to Ai chatbot'

## list:
1) list is represted by square brackets []
2) list is Muttable
3) list is ordered it follows indexing 
4) Lists can grow or shrink as needed. You donâ€™t need to declare their size in advance.
### we can use some common list methods :
1) append(x) -> Adds items (x) to the end of the list
2) extend(iter)-> Adds all the items from an iterable
3) insert(i,x) -> insert item x at index i 
4) remove(x) -> Remove first occurrence of item
5) pop(i) -> Removes and returns the items at index i
6) sort() -> Sorts the list is ascending order
7) reverse() -> Reverse the list in place
8) clear() -> Removes all items from the list

In [72]:
# empty list 
empty_list1 = list()
# OR
empty_list2 = []

In [73]:
empty_list1

[]

In [74]:
fruits = ["apple","banana","orange"]
numbers = [1,2,3,4,5]
mixed = ["hello",42,4.6,True,[1,2,3]]

In [75]:
mixed

['hello', 42, 4.6, True, [1, 2, 3]]

In [76]:
mixed[0] #indexing usually starts form zero and in reverse it starts with -1

'hello'

In [77]:
mixed[4][1]

2

In [78]:
mixed[-1][-1]

3

In [79]:
mixed[4].append("abc")

In [80]:
mixed

['hello', 42, 4.6, True, [1, 2, 3, 'abc']]

In [81]:
mixed[3]

True

In [82]:
mixed[1:5] # 1st position and n-1 position so it will print 1 index to 4 index 
# '''the syntax is [start : stop(n-1) : step size ]'''

[42, 4.6, True, [1, 2, 3, 'abc']]

In [83]:
n = [1,3,5,2,1,20,40,56]

In [84]:
len(n)

8

In [85]:
n[3: : 2]

[2, 20, 56]

In [86]:
n[:7:2]

[1, 5, 1, 40]

In [87]:
fruits = ["apple","banana","orange"]

In [88]:
fruits.append("kivi") # append adds the word at last

In [89]:
fruits

['apple', 'banana', 'orange', 'kivi']

In [90]:
fruits[2] = "grapes" # REPLACES already existed word with given word

In [91]:
fruits

['apple', 'banana', 'grapes', 'kivi']

In [92]:
fruits.insert(2,"watermelon") # insert the word at the given index

In [93]:
fruits

['apple', 'banana', 'watermelon', 'grapes', 'kivi']

In [94]:
fruits.extend(["muskmelon","papaya"]) # Extend is used to add multiple elements at end

In [95]:
fruits

['apple', 'banana', 'watermelon', 'grapes', 'kivi', 'muskmelon', 'papaya']

In [96]:
fruits.insert(4,["avacado","pineapple"])

In [97]:
fruits

['apple',
 'banana',
 'watermelon',
 'grapes',
 ['avacado', 'pineapple'],
 'kivi',
 'muskmelon',
 'papaya']

In [98]:
type(fruits)

list

In [99]:
a= [1,2,3]
b = [4,5,6]
c= a+b
print(c)

[1, 2, 3, 4, 5, 6]

In [100]:
fruits.remove("kivi")

In [101]:
fruits

['apple',
 'banana',
 'watermelon',
 'grapes',
 ['avacado', 'pineapple'],
 'muskmelon',
 'papaya']

In [102]:
j = fruits.pop(0) # for pop we can use index and save it in another variable

In [103]:
j

'apple'

In [104]:
fruits

['banana',
 'watermelon',
 'grapes',
 ['avacado', 'pineapple'],
 'muskmelon',
 'papaya']

In [105]:
fruits

['banana',
 'watermelon',
 'grapes',
 ['avacado', 'pineapple'],
 'muskmelon',
 'papaya']

In [106]:
# if we wnat to delete any fruit 
del fruits[3]
fruits

['banana', 'watermelon', 'grapes', 'muskmelon', 'papaya']

In [107]:
v = [1,2,2,24,13,1,5,3,6,6,57]

In [108]:
len(v) # length of the variable

11

In [109]:
v.count(6) #gives the count of similar items present

2

In [110]:
print(v.sort()) #sorts the elements in the variable asending order

None

In [111]:
v

[1, 1, 2, 2, 3, 5, 6, 6, 13, 24, 57]

In [112]:
v.reverse() #reverse the variable in the variable

In [113]:
v

[57, 24, 13, 6, 6, 5, 3, 2, 2, 1, 1]

In [114]:
45 in v

False

In [115]:
2 in v

True

## Tuples ():
Properties :
1. Tuple is immmutable 
2. use less memory than list
3. Faster than list
4. we use tuple when we dont to alter the data and we use list when we need to alter the data

In [116]:
# how to create a empty typle 
a = ()
b = tuple()

In [117]:
c =(2,3,5,4)

In [118]:
c[0]

2

In [120]:
c[0] = 4 # we caannot alter the element

TypeError: 'tuple' object does not support item assignment

In [ ]:
cc = (3,4.5,"apple",True,[1,2,3,6])

In [ ]:
cc

(3, 4.5, 'apple', True, [1, 2, 3, 6])

In [121]:
cc[4][2]

3

In [122]:
cc[4].append(6)

In [123]:
cc

(3, 4.5, 'apple', True, [1, 2, 3, 6])

In [124]:
cc[4].remove(6)

In [125]:
cc

(3, 4.5, 'apple', True, [1, 2, 3])

In [127]:
n1 = (1,2,3)
n2 = [4,5,6]
x,y,z = n1
x1,y1,z1 = n2

In [ ]:
print (x,y,z)
print(x1,y1,z1)

1 2 3
4 5 6

In [ ]:
number = (1,3,5,7,8,)
first , *middle , last = number  # here star repesents all values expect the first and last

In [ ]:
print(first)
print(last)
print(middle) # if we dosnt give star it will show error

1
8
[3, 5, 7]

## Dictionary {}: {key:value}
1. Its a key , value pair
2. Key should be string only and value can be any thing tuple list or any datatype or even dictionary
3. key does not support duplicate but value can be duplicate
4. It is unordered (no indexing) through key only we can access 
5. It can be extended and dynamic in size

Eg: a = {"a" : "amit" , "age" : 34}
 So here key should ber always a integer and value can be any datatype

# To create empty dictionary 
d = {}
d = dict()

In [ ]:
student = {"name":"Alice", "age" : 24,"grade": "A" }
prices = {"apple": 1.50 , "banana": 0.75 , "orange": 0.60}

In [ ]:
student.keys()

dict_keys(['name', 'age', 'grade'])

In [ ]:
student.values()

dict_values(['Alice', 24, 'A'])

In [ ]:
student["age"]

24

In [ ]:
student["grade"]

'A'

In [128]:
person = dict(name = "bob" , age = 45 , city = "vizag") # using dict() constuctor

In [129]:
print(person["name"], 
      person.keys() ,
      person.values())

bob dict_keys(['name', 'age', 'city']) dict_values(['bob', 45, 'vizag'])

In [130]:
items = [("a",1) , ("c",2) , ("b",5)]
my_items = dict(items)

In [131]:
my_items

{'a': 1, 'c': 2, 'b': 5}

In [ ]:
# from list of tuples
item1 = [("name","Raghava_Anil") , ("age" , 23) , ("grade" , "A")]
my_item1 = dict(item1)
print(my_item1)

{'name': 'Raghava_Anil', 'age': 23, 'grade': 'A'}

In [ ]:
#student.get("grade") # get command handle missing key safly it dose not throw errorr even though the key is not present
#example : student.get("height")
#student["grade"]

'A'

In [ ]:
h = student.get("height") #so it dosnt throw error where as when we call through the key name it throws error 
print(h)

None

In [141]:
#student["height"] # throws error as "keyerror"

In [144]:
# To add any thing to the dictionary
student["city"] = "Hyderabad"
student["school"] = "narayana junior school"

In [145]:
student

{'name': 'Alice',
 'age': 24,
 'grade': 'A',
 'city': 'Hyderabad',
 'school': 'narayana junior school'}

In [ ]:
# if we want to add more key values we use update()
student.update({"height" : 5.6 , "weight" : 60})

In [150]:
student

{'name': 'Alice',
 'age': 24,
 'grade': 'A',
 'city': 'Hyderabad',
 'school': 'narayana junior school',
 'height': 5.6,
 'weight': 60}

In [151]:
# OR
student.update(gpa = 6.7 , Bus_service = True)

In [152]:
student

{'name': 'Alice',
 'age': 24,
 'grade': 'A',
 'city': 'Hyderabad',
 'school': 'narayana junior school',
 'height': 5.6,
 'weight': 60,
 'gpa': 6.7,
 'Bus_service': True}

In [153]:
student.update(marks = {"science" : 69 , "maths" : 89 , "biology" : 78} , subject_code = [1,2,3,4] , coordinte = (2,3.45))

In [154]:
student

{'name': 'Alice',
 'age': 24,
 'grade': 'A',
 'city': 'Hyderabad',
 'school': 'narayana junior school',
 'height': 5.6,
 'weight': 60,
 'gpa': 6.7,
 'Bus_service': True,
 'marks': {'science': 69, 'maths': 89, 'biology': 78},
 'subject_code': [1, 2, 3, 4],
 'coordinte': (2, 3.45)}

In [159]:
student["marks"]["maths"]

89

In [160]:
student.values()

dict_values(['Alice', 24, 'A', 'Hyderabad', 'narayana junior school', 5.6, 60, 6.7, True, {'science': 69, 'maths': 89, 'biology': 78}, [1, 2, 3, 4], (2, 3.45)])

In [164]:
student.get("marks").get("maths")

89

In [167]:
print(student["subject_code"][2])
print(student["coordinte"][0])

3
2

In [168]:
student.update(un = (1,4,[12,{"agg" : 56}]))

In [169]:
student

{'name': 'Alice',
 'age': 24,
 'grade': 'A',
 'city': 'Hyderabad',
 'school': 'narayana junior school',
 'height': 5.6,
 'weight': 60,
 'gpa': 6.7,
 'Bus_service': True,
 'marks': {'science': 69, 'maths': 89, 'biology': 78},
 'subject_code': [1, 2, 3, 4],
 'coordinte': (2, 3.45),
 'un': (1, 4, [12, {'agg': 56}])}

In [172]:
student["un"][2][1]["agg"]

56

In [173]:
grade = student.pop("grade")

In [174]:
student

{'name': 'Alice',
 'age': 24,
 'city': 'Hyderabad',
 'school': 'narayana junior school',
 'height': 5.6,
 'weight': 60,
 'gpa': 6.7,
 'Bus_service': True,
 'marks': {'science': 69, 'maths': 89, 'biology': 78},
 'subject_code': [1, 2, 3, 4],
 'coordinte': (2, 3.45),
 'un': (1, 4, [12, {'agg': 56}])}

In [175]:
grade

'A'

In [176]:
del student["gpa"]

In [177]:
student

{'name': 'Alice',
 'age': 24,
 'city': 'Hyderabad',
 'school': 'narayana junior school',
 'height': 5.6,
 'weight': 60,
 'Bus_service': True,
 'marks': {'science': 69, 'maths': 89, 'biology': 78},
 'subject_code': [1, 2, 3, 4],
 'coordinte': (2, 3.45),
 'un': (1, 4, [12, {'agg': 56}])}

## sets {} :
1. no Duplicates
2. no order
3. Mutable
4. all values stored in the set are unique value
-> To create sn empty set 
s = set()
## When to use set :
a. Remove duplicates from the list
b. Check Membership quickly
c. Perform mathematical set operations
d. Find common elements in collections

In [3]:
n = {1,2,4,3,4,6,4,7,5,8,10}
n

{1, 2, 3, 4, 5, 6, 7, 8, 10}

In [4]:
s = set(n)
s

{1, 2, 3, 4, 5, 6, 7, 8, 10}